div.carousel-inner div.carousel-item::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #8bcfd85b;
    content: "";
}

.nav-link{
    color: #fff !important;
    font-size: medium !important;
    font-weight: 500;
}

.bg-light{
    background-color: #222232 !important;
}

.primary-title{
    color: #222232;
}

.secondary-title{
    color: #85b9bf;
}

.card-info{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #85b9bf !important;
    border-radius: 0px !important;
}